<h1>Posts</h1>

<% @posts.each do |post| %>
    <div class="list-group" style="margin-top: 20px">
      <a class="list-group-item list-group-item-action list-group-item-info" href="<%= post_path post.id %>">
        <h3><%= post.title %></h3>
        <p class="list-group-item-text">
          <%= "#{post.user.name} posted at #{post.created_at} Viewer: #{post.viewer}" %>
          <% if current_user == post.user %>
              <%= link_to "Delete", post, method: :delete, class: "btn-danger", style: "float:right", data: {
                  confirm: "Are you sure?"}
              } %>
          <% end %>
        </p>

      </a>
    </div>
<% end %>
</br>

<%= link_to 'New Post', new_post_path %>
