<%
   if current_user.image_url.nil? %>
    <div style="display:inline-block">
      <image height="90px" src="http://www.phpclasses.org/browse/view/flash/file/64364/name/noavatar.jpg" width="90px"></image>
    </div>
    <div style="display:inline-block">
      <div> Emai<%= current_user.name %></div>
      <div> Telephone <%= current_user.telephone %></div>
    </div>
<% end %>
</br>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<h1>Posts</h1>
<% @posts.each do |post| %>
    <br>
    <a href="<%=post_path post %>" style="text-transform: uppercase;font-size: 1.2rem"><%= post.title %></a>
    <div class="text-row-limit"><%= markdown post.content %></div>
<% end %>
<%= link_to 'New Post', new_post_path %>
