<!DOCTYPE html>
<html>
<head>
  <title>CoderschoolPrework</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="<%= new_user_session_path %>">
      Prework Ruby on Rails
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item active">
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>

        <% else %>
            <a class="nav-link" href="<%= new_user_session_path %>">Log in</a></li>
        <% end %>
        </ul>
    <%= form_tag search_posts_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag 'search', nil, class: "form-control" %>
        <%= submit_tag "Search",class: "btn btn-outline-info" %>
    <% end %>
  </div>
  <!-- </div>-->
</nav>


<div class="container" style="margin-top: 20px">
  <div class="row row-offcanvas row-offcanvas-left">

    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <h2 style="text-transform: uppercase;color: #33acb7; text-align: left; width: 95%;">Coderschool</h2>
      <ul class="nav">

        <li><a href="<%= posts_path %>">Post</a></li>
        <li><a href="/about me.html">About</a></li>

      </ul>
    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9">

      <%= yield %>
    </div><!-- /.col-xs-12 main -->
  </div><!--/.row-->
</div><!--/.container-->


</body>
</html>
